.tags-section {
    display: grid;
    height: 100%;
    position: relative;
    
    &_web-wrapper {
        margin: 6px;
        float: left;
        position: relative;
        .advPlan-tagBoxBody {
            background-color: red;
        }
        &.disabled {
            pointer-events: none;
            opacity: 0.5;
            cursor: none;
        }
    }
    &_item-container {
        float: left;
    }
    &_item {
        width: 120px;
        height: 80px;
        background-color: green;
        border-radius: 5px;
    }
    &_items-blur {
        opacity: 0.5;
        .tags-section_web-wrapper {
            pointer-events: none !important;
            cursor: none !important;
        }
    }
    &_no-tags-wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .tags-section_group {
            display: none !important;
        }
    }
    &_no-tags {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 220px;
        width: 300px;
        gap: 10px;
        margin: 0 auto;
        background-color: rgb(255, 255, 255);
        color: rgba(0, 0, 0, 0.87);
        box-shadow: rgba(0, 0, 0, .2) 0px 1px 2px 0px;
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 4px;
        &_desc {
            font-size: 14px;
            color: #b1b1b1;
        }
        &_icon {
            svg {
                color: #6bc3eb;
            }
        }
    }
    &_group-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 32px;
        padding: 6px 10px 6px 16px;
        margin: 5px 0px 0px 0px;
        cursor: pointer;
        font-size: 14px;
        line-height: 1.4;
        //width: 99%;
        box-shadow: 0 2px 2px #dbdbdb;
        border: 1px solid #d0d0d0;
        .MuiSvgIcon-root {
            color: #030303;
        }
        &.selected {
            outline: 2px dashed #0854a0;
        }
        &_date-assignee {
            display: flex;
            align-items: center;
            justify-content: left;
            font-size: 12px;
        }
        // &_date::before {
        //     content: "\e954";
        //     font-size: 1.17em;
        //     line-height: 1.2;
        //     padding-left: 1px;
        // }
        &_date {
            margin-right: 16px;
        }
        &_child-wrapper {
            display: flex;
            flex-direction: column;
        }
    }
    &_group-header-name {
        font-size: 14px;
    }
    &_group {
        margin-bottom: 5px;
        background: none;
        float: none;
        padding: 0px;
        height: auto;
        width: auto;
        &.collapse {
            .tags-section_group-body {
                display: none;
            }
            .tags-section_group-header_date-assignee {
                display: none;
            }
            .tags-section_group-header-icon {
                transform: rotate(270deg);
                color: #030303;
            }
        }
    }
    &_group-body {
        display: inline-block;
        padding-top: 5px;
    }
}
.tags-text {
    margin: 0;
    color: #333;
    font-size: 15px;
    position: sticky;
    top: 0;
    background: #f9fbfc;
    z-index: 1;
    padding: 10px;
}
.brena-tags-date-picker.brena-tags-date-picker_hide {
    display: none;;
}
.brena-tags-date-picker {
    position: fixed;
    background-color: transparent;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.brena-tags-date-picker_wrapper {
    border-radius: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background: white;
}

::-webkit-scrollbar {
    height: .35em;
    width: .35em
}

::-webkit-scrollbar-track {
    background: #e6e6e6;
    border-radius: .2em
}

::-webkit-scrollbar-thumb {
    background: #aeaeae;
    border-radius: .2em
}

::-webkit-scrollbar-thumb:hover {
    background: #666
}

@font-face {
    font-family: 'AdvTag';
    src: url("../../fonts/AdvTag.eot");
    src: url("../../fonts/AdvTag.eot") format("embedded-opentype"),
    url("../../fonts/AdvTag.ttf") format("truetype"),
    url("../../fonts/AdvTag.woff") format("woff"), 
    url("../../fonts/AdvTag.svg") format("svg");
    font-weight: normal;
    font-style: normal;
    /*font-display: swap;*/
}
.brena-advPlan-tagDates:before {
    content: "\e954";
    font-size: 1.17em;
    line-height: 1.2;
    padding-left: 1px;
    font-family: 'AdvTag';
    margin-right: 5px;
}
.brena-advPlan-tagAssignTo:before {
    content: "\e927";
    font-size: 1.273em;
    font-family: 'AdvTag';
    margin-right: 5px;
}
.brena-advPlan-tagAssignTo, .brena-advPlan-tagDates {
    display: flex;
    align-items: center;
}


