.chat-widget-container {
    z-index: 1;
    font-family: 'Roboto-Regular';
    box-sizing: border-box;
    &.brena-mobile {
        position: relative;
        width: 100% !important;
        .chat-widget-container_title-img-wrapper {
            display: flex;
            box-shadow: 0 1px 4px 1px rgb(229, 229, 229);
            padding: 6px 0px;
            margin-top: 0px !important;
            .mobile-logo-btn {
                width: auto;
                max-width: 220px;
                object-fit: contain;
            }
        }
        .chat-widget-toolbar {
            padding-top: 18px;
            padding-left: 0px;
            justify-content: center;
            gap: 2rem;
            button {
                background-color: #f7f7f7 !important;
                border-radius: 24px;
                border: 1px solid #d6d6d6;
                padding: 6px 22px;
                color: #059cdf;
                box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
                font-size: 15px;
                .NewChat-cls,
                .NewHistory-cls {
                    margin-right: 10px;
                    width: 22px;
                }
            }
        }
        .chat-history_search {
            margin-top: 10px;
        }
        .chat-widget-container_left-arrow {
            align-items: center;
            margin-right: 10px;
            font-size: 32px;
            font-weight: 400;
            margin-left: 10px;
            display: flex;
            .header-back-btn {
                width: 26px;
                filter: invert(40%);
                -webkit-filter: invert(40%);
            }
        }
        .chat-widget-container_left-arrow {
            display: flex;
            align-items: center;
            margin-right: 10px;
            font-size: 32px;
            font-weight: 400;
            .header-back-btn {
                width: 26px;
                filter: invert(40%);
                -webkit-filter: invert(40%);
            }
        }
        .chat-widget-container_body {
            height: calc(94vh - 230px);
        }
    }
    .MuiCardContent-root {
        padding: 0px 0px 16px 16px;
        .voice-listening-cont {
            img {
                width: 355px;
                margin: 140px 0px 0px -21px;
            }
        }
        .welcome-content_options {
            display: grid;
            button {
                border: 1px solid #059cdf;
                color: #059cdf;
                margin: 8px 0px !important;
                padding: 2px 10px;
                border-radius: 8px;
                font-size: 13px !important;
                text-align: left;
                float: left;
                display: inline-block;
                width: fit-content;
                font-family: 'Roboto-Regular';
            }
        }
        .welcome-content_btn {
            //  min-width: 154px;
        }
        .welcome-content p {
            color: #333;
            margin: 10px 0px;
            font-style: italic;
            font-size: 14px;
        }
    }
    .MuiPaper-root {
        background: #fff !important;
        box-shadow: 0px 0px 5px 1px #999 !important;
        .MuiCardHeader-action {
            .header-minimize {
                img {
                    width: 25px;
                    height: 25px;
                }
            }
            .header-close {
                img {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
    .chat-widget-card,
    .close-widget-card {
        // height: 80vh;
        box-shadow: 0px 0px 5px 1px rgb(194, 194, 194);
        border-radius: 10%;
        max-width: 300px !important;
        min-width: 300px;
        max-width: 345px !important;
        min-width: 345px;
    }
    .chat-brena {
        // position: absolute;
        // z-index: 9;
        // background-color: #f1f1f1;
        // text-align: center;
        // border: 1px solid #d3d3d3;
    }
    .chat-brena-cont {
        // padding: 10px;
        // cursor: move;
        // z-index: 10;
        // background-color: #2196F3;
        // color: #fff;
    }
    &_title-img-wrapper {
        text-align: left;
        margin-top: -36px;
        padding-left: 12px;
        position: relative;
        .header-minimize-mob {
            position: absolute;
            right: 10px;
            img {
                width: 25px;
                height: 25px;
            }
        }
    }
    &_title-img {
        width: 270px;
    }
    &_title-img-assistant {
        width: 270px;
    }
    &_body {
        overflow: auto;
        height: 60vh;
        padding-right: 16px;
        &::-webkit-scrollbar {
            width: 4px;
            border: 1px solid #c7c9c8;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 0;
            background-color: #c7c9c8;
        }
        &::-webkit-scrollbar-track {
            border-radius: 0;
            background-color: #f2f3f3;
        }
    }
    &_footer {
        &-anything-else-block {
            background-color: #f6d1ba;
            color: #ED7532;
            border-radius: 5px;
            margin: 10px 0;
            padding: 2px 10px 2px 5px;
            font-size: 14px;
        }
        &-text-box {
            .MuiInputBase-root {
                border-radius: 30px;
            }
        }
        &-text-voice-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-voice-btn {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: #ED7532 !important;
        }
    }
    &.brena-desktop {
        .chat-widget-container_body {
            height: calc(100vh - 292px);
        }
    }
}

.common-widget-dlg {
    width: min-content;
    &.brena-widget-pos-left {
        right: auto !important;
        .MuiDialog-container {
            .MuiPaper-root:first-child {
                padding-right: 5px;
            }
        }
        .common-widget-dlg-container {
            flex-direction: row-reverse;
            padding: 8px 8px 8px 1px;
            overflow: hidden;
        }
        .chat-widget-suggestion-cont {
            border-radius: 0px 36px 36px 36px;
        }
        .chat-widget-suggestion-cont_resizer {
            right: -8px;
            left: auto;
        }
        .chat-dlg-suggestion-expand,
        .chat-dlg-suggestion-collapse {
            left: auto;
            right: -16px;
            position: fixed;
            svg {
                transform: rotate(180deg);
            }
        }
    }
    &.brena-widget-pos-right {
        left: auto !important;
        .MuiDialog-container {
            .MuiPaper-root:first-child {
                padding-left: 30px;
            }
        }
    }
    top: auto !important;
    &.brena-mobile {
        height: 100%;
        width: 100% !important;
        .MuiDialog-container .MuiPaper-root:first-child {
            max-height: 100%;
            height: 100%;
            width: 100%;
            padding: 0;
            border-radius: 0;
            max-width: 100% !important;
            overflow: hidden;
            padding-left: 0px !important;
        }
        .common-widget-dlg-container {
            height: 100%;
            width: 100%;
        }
    }
    &.brena-tablet {
        .chat-widget-container_body {
            height: 65vh;
        }
    }
    .MuiDialog-container {
        justify-content: end;
        .MuiPaper-root:first-child {
            background: transparent;
            border-radius: 30px;
            box-shadow: none;
            padding: 5px 5px 2px 5px;
            margin: auto 0px;
            position: relative;
            .close-widget-card {
                padding-left: 5px;
                min-height: 88.5vh;
            }
        }
    }
    &.small {
        .MuiDialog-container {
            .MuiPaper-root:first-child {
                max-width: 810px;
            }
        }
    }
    &.medium {
        .MuiDialog-container {
            .MuiPaper-root:first-child {
                max-width: 1210px;
            }
        }
    }
    &.large {
        .MuiDialog-container {
            .MuiPaper-root:first-child {
                max-width: calc(100vw - 20px);
            }
        } 
    }
    .MuiBackdrop-root {
        background: transparent;
        overflow: hidden;
        box-shadow: none;
    }
    .common-widget-dlg-container {
        display: flex;
        .chat-brena-cont {
            img {
                border-radius: 15px 15px 15px 15px;
                border: 1px solid #ddd;
                box-shadow: 0px 0px 3px 0px rgb(229, 229, 229);
                width: 56px;
                cursor: pointer;
                background-color: #fff;
            }
        }
    }
    .chat-dlg-suggestion-expand,
    .chat-dlg-suggestion-collapse {
        background: #404040;
        position: absolute;
        left: 0px;
        bottom: 40px;
        color: white;
        max-width: 30px;
        min-width: 30px;
        visibility: visible;
    }
    .chat-dlg-suggestion-expand:hover,
    .chat-dlg-suggestion-collapse:hover {
        background-color: #312f2f !important;
    }
    .chat-widget-container {
        .MuiPaper-root {
            .MuiCardHeader-root {
                z-index: 1;
                position: relative;
            }
        }
    }
}


/*hardcode brena container zindex*/

.common-widget-dlg.brenaAI-Widget {
    z-index: 99999999999999999999999999999999 !important;
}
#brenaPinUnpinTooltip,
#brenaMinimizeBtnTooltip,
#brenaCloseTooltip,
#brenaVolumeUpTooltip,
#brenaVolumeOffTooltip,
#brenaAddSmartItem,
#brenaDsTooltip {
    z-index: 999999999999999999999999999999999 !important;
}

.common-widget-dlg-minimized {
    top: 10% !important;
    height: fit-content;
    .chat-widget-suggestion-cont {
        margin-left: 25%;
    }
    .chat-dlg-suggestion-collapse {
        margin-left: 24%;
        margin-top: 4% !important;
    }
    &.brena-widget-pos-left {
        .chat-widget-suggestion-cont {
            margin-left: -6%;
            margin-right: 6%;
        } 
        .chat-dlg-suggestion-collapse {
            right: 36px;
        }
    }
}

#BRENDA-AI-ROOT {
    position: absolute;
}
.common-widget-dlg-hidden {
    display: none !important;
}

.iPhone .chat-widget-suggestion-cont.brena-mobile .chat-widget-suggestion-cont_body {
    height: 76vh !important;
}

.iPhone .chat-widget-container.brena-mobile .chat-widget-container_body {
    height: calc(90vh - 230px);
}

.brena-mobile {
    .brena-chat-volume-icon-container {
        pointer-events: none !important;
        svg {
            color: darkgray !important;
        }
    }
}